# vllm==0.8.4
# torch==2.6.0
# torchvision==0.21.0
# torchaudio==2.6.0
# transformers==4.51.3
# pandas==2.0.0
# trl==0.14.0
# numpy==1.26.4

vllm==0.7.1
torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1
transformers==4.48.2
pandas==2.0.0
trl==0.14.0
numpy==1.26.4