export MIST_MODELS_DIR="/iopsstor/store/cscs/swissai/a05/LIAC/LLM_models"
export MIST_DATA_DIR="/iopsstor/store/cscs/swissai/a05/chem"
export MIST_CACHE_DIR="/iopsstor/scratch/cscs/${USER}/.cache/mist"
export MIST_WANDB_API_KEY_FILE="${MIST_REPO_ROOT}/wandb_api_key.txt"
