export MIST_MODELS_DIR="/work/liac/LLM_models"
export MIST_DATA_DIR="/work/liac/datasets/mist"
export MIST_CACHE_DIR="/scratch/${USER}/.cache/mist"
export MIST_WANDB_API_KEY_FILE="${MIST_REPO_ROOT}/wandb_api_key.txt"
export MIST_CONTAINER_PATH="/work/liac/sink/containers/vllm-openai_v0.7.1.sif"
